body
{
  text-align: center;
  font-family: Arial;
  color: #1F2232;
  text-align: left;
  font-size: 16px;
  margin: 0px;
  padding: 0;
}

#cabecera
{
  font-size: 30px;
  background: #F3D34A;
  color: #DD2D4A;
  font-family: serif;

}

#container
{
  background: #FFB997;
  color: #F67E7D;
  width: 70%;
  padding: 1em;
  text-align: left;
  border: 5px solid #EE6055;
  margin: 0 auto;
}

#container h1
{
  font-size: 20px;
}
