body
{
  text-align: center;
  font-family: Arial;
  color: #1F2232;
  text-align: left;
  font-size: 16px;
  margin: 0px;
  padding: 0;
}

#cabecera
{
  font-size: 30px;
  color: #BBDEF0;
  font-family: serif;

}

#container
{
  color: #2D7DD2;
  width: 70%;
  padding: 1em;
  text-align: left;
  border: 5px solid #97CC04;
  margin: 0 auto;
}

#container h1
{
  font-size: 20px;
}

#footer
{
  color: black;
}
