body
{
  text-align: center;
  font-family: Arial;
  color: #1F2232;
  text-align: left;
  font-size: 16px;
  margin: 0px;
  padding: 0;
}

#container
{
  width: 70%;
  padding: 1em;
  text-align: left;
  border: 5px solid #DDD;
  margin: 0 auto;
}

#container h1
{
  font-size: 20px;
}
